.searchWrap {
  background-color: #bdddea;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  .searchBox {
    .title {
      font-size: 26px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 15px;
    }
    .inputWrap {
      position: relative;
      display: flex;
      .inputBox {
        width: 300px;
        height: 30px;
        border-radius: 25px;
        padding: 10px 38px;
        font-size: 15px;
      }
      .iconStyle {
        color: rgb(146, 143, 143);
        position: absolute;
        top: 19px;
        left: 16px;
      }
      .iconColor {
        color: white;
      }

      .searchBtn {
        position: absolute;
        top: 7px;
        right: 8px;
        padding: 0;
        border-radius: 50%;
        border: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: blueviolet;
        .iconStyle {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
        }
      }
    }
    .dataWrap {
      padding: 20px 15px;
      margin-top: 7px;
      box-sizing: border-box;
      width: 100%;
      background-color: #fafafa;
      border-radius: 25px;
      line-height: 1.5;
      &.hidden {
        display: none;
      }
      .recommendArr {
        &.hidden {
          display: none;
        }
        .recommendText {
          margin: 2px 5px;
          color: #969393;
          font-size: 12px;
          margin-bottom: 15px;
        }
        & > span {
          font-size: 12px;
          color: rgb(6, 6, 237);
          background-color: #bdddea;
          border-radius: 25px;
          padding: 10px;
          margin: 2px 10px;
        }
      }
      .upper {
        font-weight: bold;
        &.on {
          background-color: #f2f2f1;
        }
      }

      .dataList {
        &.hidden {
          display: none;
        }
        .under {
          color: #969393;
          font-size: 12px;
        }
        .on {
          background-color: #f2f2f1;
        }
      }
    }
  }
}
